
.home-container {
  min-height: 80vh;
  background-color: var(--theme-bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center; 
  padding: 2rem;
}

.games-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1.5rem;
  max-width: 1000px;
  width: 100%;
}