@use 'themes';
@use 'sass:map';

@mixin neo-box-base {
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-default);
  background-color: transparent;
  transition: all var(--transition-fast);
}

@mixin neo-box-hover {
  transform: translate(-1px, -1px);
  box-shadow: calc(var(--shadow-offset) + 2px) calc(var(--shadow-offset) + 2px) 0px 0px var(--color-text);
}

@mixin neo-box-active {
  transform: translate(calc(var(--shadow-offset) - 2px), calc(var(--shadow-offset) - 2px));
  box-shadow: none;
}

@mixin neo-box {
  @include neo-box-base;

  &:hover:not(:disabled):not(.is-disabled) {
    @include neo-box-hover;
  }

  &:active:not(:disabled):not(.is-disabled) {
    @include neo-box-active;
  }
}

@mixin generate-themes {    
  :root {
    $default: map.get(themes.$themes, 'hub');
    @each $key, $value in $default {
      --theme-#{$key}: #{$value};
    }
  }

  @each $theme-name, $theme-map in themes.$themes {
    [data-theme="#{$theme-name}"] {
      @each $key, $value in $theme-map {
        --theme-#{$key}: #{$value};
      }
    }
  }
}