//Valores brutos de scss

$coral: (
  10: #fceae8,
  20: #f7c1ba,
  30: #f2978c,
  40: #ed6e5e,
  50: #e84430,
  60: #cf2b17,
  70: #a12112,
  80: #73180d,
  90: #450e08,
  100: #170503,
);

$gray: (
  10: #f9f9f9,
  20: #f0f0f0,
  30: #e0e0e0,
  40: #c2c2c2,
  50: #9e9e9e,
  60: #757575,
  70: #616161,
  80: #424242,
  90: #212121,
  100: #0f0f0f,
);

$black-alpha: (
  10: rgba(0, 0, 0, 0.1),
  20: rgba(0, 0, 0, 0.2),
  30: rgba(0, 0, 0, 0.3),
  40: rgba(0, 0, 0, 0.4),
  50: rgba(0, 0, 0, 0.5),
  60: rgba(0, 0, 0, 0.6),
  70: rgba(0, 0, 0, 0.7),
  80: rgba(0, 0, 0, 0.8),
  90: rgba(0, 0, 0, 0.9),
  100: rgba(0, 0, 0, 1),
);

$white-alpha: (
  10: rgba(255, 255, 255, 0.1),
  20: rgba(255, 255, 255, 0.2),
  30: rgba(255, 255, 255, 0.3),
  40: rgba(255, 255, 255, 0.4),
  50: rgba(255, 255, 255, 0.5),
  60: rgba(255, 255, 255, 0.6),
  70: rgba(255, 255, 255, 0.7),
  80: rgba(255, 255, 255, 0.8),
  90: rgba(255, 255, 255, 0.9),
  100: rgba(255, 255, 255, 1),
);

$z-layers: (
  'base': 0,
  'dropdown': 100,
  'modal': 200,
  'toast': 300,
  'tooltip': 400
);
