@use "../../../../styles/abstracts/variables" as v;
@use '../../../../styles/abstracts/mixins' as m;

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  outline: none;

  &.is-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: grayscale(1);
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .dropdown-label {
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    color: var(--color-text);
  }

  .dropdown-container {
    @include m.neo-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.8rem;
    cursor: pointer;

    .dropdown-placeholder {
      font-weight: 600;
      color: var(--color-text);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      text-align: left;
      margin-right: 0.5rem;
    }

    .dropdown-arrow {
      font-weight: 600;
      margin-left: 0.5rem;
      color: var(--color-text);
      transition: transform 0.4s var(--ease-bounce);
      flex-shrink: 0;

      &.is-open {
        transform: rotate(180deg);
      }
    }

    &:hover {
      box-shadow: var(--shadow-hover);
      transform: translate(1px, 1px);
    }

    &:active {
      box-shadow: none;
      transform: translate(2px, 2px);
    }
  }

  .dropdown-panel-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0.5rem;
    z-index: map-get(v.$z-layers, "dropdown");
    background-color: white;
    border: var(--border-width) solid var(--color-border);
    transform-origin: top;
    border-radius: var(--border-radius-md);
    overflow: hidden;

    .empty-dropdown-list {
      padding: 0.8rem;
      font-weight: 700;
    }

    &.is-open {
      animation: bounce-in 0.4s var(--ease-bounce);
    }

    &.is-close {
      opacity: 0;
      transform: scaleY(0);
      transition: opacity 0.3s ease, transform 0.4s var(--ease-bounce);
    }

    .dropdown-option {
      font-size: 1rem;
      font-weight: 600;
      padding: 0.8rem 0.8rem;
      width: 100%;
      transition: 0.1s;
      cursor: pointer;
      color: var(--color-text);

      &:hover, 
      &.is-highlighted { 
        background-color: var(--theme-primary);
        color: var(--theme-surface);
      }
      
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }

      &.is-selected {
        background-color: var(--theme-primary);
        color: var(--theme-surface);
      }
    }
  }

  @keyframes bounce-in {
    from {
      opacity: 0;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
